html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: system-ui;
    background-color: rgb(35, 34, 48);
    color: white;
}
  
* {
    box-sizing: inherit;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul, button {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

:root{
    --letter-size: 2rem;
    --default-font-size: 2rem;
}

/*  */
main{
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
}

.main-screen-text{
    text-align: center;
    margin: 0 auto;
}

button{
    background-color: rgb(55, 125, 229);
    color: white;
    font-size: 2.3rem;
    font-weight: 700;
    padding: .5rem;
    margin-top: 2rem;
    
    border: 3px solid white;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}

#keyboardOuterDiv{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#keyboard-div{
    display: grid;
    grid-template-columns: repeat(8, var(--letter-size));
    gap: .2rem;
    width: min-content;
    margin: auto auto 0;
}

#hidden-word-div{
    display: grid;
    row-gap: 5px;
    width: min-content;
    margin: auto;
}

.hidden-letter{
    width: var(--letter-size);
    height: var(--letter-size);
    text-align: center;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-button{
    width: var(--letter-size);
    height: var(--letter-size);
    background-color: rgb(55, 125, 229);
    border-radius: 10px;
    font-size: var(--default-font-size);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-letter > p{
    font-size: var(--default-font-size);
    font-weight: 700;
}

@media (min-width: 500px){
    #keyboardOuterDiv{
        position: static;
        margin-top: 5em;
    }
    
    #keyboard-div{
        grid-template-columns: repeat(13, var(--letter-size));
    }
}